<!DOCTYPE html>
<html>
<head>
<html xmlns:th="http://www.thymeleaf.org" />
<head th:replace="layout/layout :: head"></head>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Fecha</th>
							<th>Valor Anterior</th>
							<th>Valor Reciente</th>
							<th>Resultado</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pcv: ${pcv}">
							<td th:text="${pcv.id}"></td>
							<td th:text="${pcv.fecha}"></td>
							<td th:text="${pcv.valorAnterior}"></td>
							<td th:text="${pcv.valorReciente}"></td>
							<td th:text="${pcv.resultado}"></td>
						</tr>
					</tbody>
				</table>
	
	<div id="cuadrarfooter"></div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
	<script th:replace="dashboard/js/estadisticas-panel :: javascript"></script>
</body>
</html>