<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<script type="text/javascript" th:fragment="javascript">
				
			var ctx1 = document.querySelectorAll(".chart1");
        	var myChart1 = new Chart(ctx1, {
            type:'bar',
            data:{
                datasets: [{
                    label: 'Porcentaje de Crecimiento en Ventas',
                    backgroundColor: [
                    	"rgba(255, 99, 132, 0.2)",
			            "rgba(54, 162, 235, 0.2)",
			            "rgba(255, 206, 86, 0.2)",
			            "rgba(75, 192, 192, 0.2)",
			            "rgba(153, 102, 255, 0.2)",
			            "rgba(255, 159, 64, 0.2)",
                    ],
                    borderColor: [
			            "rgba(255, 99, 132, 1)",
			            "rgba(54, 162, 235, 1)",
			            "rgba(255, 206, 86, 1)",
			            "rgba(75, 192, 192, 1)",
			            "rgba(153, 102, 255, 1)",
			            "rgba(255, 159, 64, 1)",
                    ],
                    borderWidth:2
                }]
            },
            options:{
                scales:{
                    y:{
                        beginAtZero:true
                    }
                }
            }
        })

        let url1 = 'http://localhost:8080/api/facturas/pcv'
        fetch(url1)
            .then( response => response.json() )
            .then( datos => mostrar1(datos) )
            .catch( error => console.log(error) )


        const mostrar1 = (articulos) =>{
            articulos.forEach(element => {
                myChart1.data['labels'].push(element.fecha)
                myChart1.data['datasets'][0].data.push(element.resultado)
                myChart1.update()
            });
            console.log(myChart1.data)
        }    





			var ctx2 = document.querySelectorAll(".chart2");
        	var myChart2 = new Chart(ctx2, {
            type:'bar',
            data:{
                datasets: [{
                    label: 'Indice de Productividad en Ventas',
                    backgroundColor: [
                    	"rgba(255, 99, 132, 0.2)",
			            "rgba(54, 162, 235, 0.2)",
			            "rgba(255, 206, 86, 0.2)",
			            "rgba(75, 192, 192, 0.2)",
			            "rgba(153, 102, 255, 0.2)",
			            "rgba(255, 159, 64, 0.2)",
                    ],
                    borderColor: [
			            "rgba(255, 99, 132, 1)",
			            "rgba(54, 162, 235, 1)",
			            "rgba(255, 206, 86, 1)",
			            "rgba(75, 192, 192, 1)",
			            "rgba(153, 102, 255, 1)",
			            "rgba(255, 159, 64, 1)",
                    ],
                    borderWidth:2
                }]
            },
            options:{
                scales:{
                    y:{
                        beginAtZero:true
                    }
                }
            }
        })

        let url2 = 'http://localhost:8080/api/facturas/ipv'
        fetch(url2)
            .then( response => response.json() )
            .then( datos => mostrar2(datos) )
            .catch( error => console.log(error) )


        const mostrar2 = (articulos) =>{
            articulos.forEach(element => {
                myChart2.data['labels'].push(element.fecha)
                myChart2.data['datasets'][0].data.push(element.resultado)
                myChart2.update()
            });
            console.log(myChart2.data)
        }    
			
	</script>
</body>
</html>